.main_content {
    max-width: 500px;
    margin: auto;
}

.color-1 { color: #5472A1; }
.color-2 { color: #2B89D1; }
.color-3 { color: #6C9CD1; }
.color-4 { color: #7DACD1; }
.color-5 { color: #A2D1B0; }